.DS_Store
node_modules
/.svelte-kit
/package
*.log
.svelte-kit
.svelte-kit/**
*.env
.env
.env.*
.env.*.local
!.env.sample
!.env.example
!.env.demo
!.env.sample.local
!.env.example.local
!.env.demo.local
